
[user]
  name  = kirim
  email = telegram@acidx27x


[core]
  eol      = lf
  autocrlf = false
  pager = delta
  whitespace = trailing-space,space-before-tab  # detect ws problems 'git diff --check'


[init]
  defaultBranch = master

[commit]
  verbose = true

[fetch]
  all       = true
  prune     = true  # prune to remove old remotes
  pruneTags = true

[pull]
  rebase = true

[push]
  default = simple  # feature/login -> origin/feature/login


[rebase]
  autoStash  = true
  autosquash = true
  updateRefs = true

[rerere]
  enabled    = true  # reuse recorded resolution to let git remember resolved conflicts
  autoupdate = true


[branch]
  sort = -committerdate

[tag]
  sort = version:refname


[interactive]
  diffFilter = delta --color-only --features=interactive


[delta]
  tabs = 2
  dark     = true
  navigate = true  # use n and N to move between diff sections
  side-by-side = true
  line-numbers = true
  features = decorations

[delta "interactive"]
  keep-plus-minus-markers = true

[delta "decorations"]
  file-style = omit
  commit-style            = raw
  commit-decoration-style = blue ol
  hunk-header-style            = file line-number syntax
  hunk-header-file-style       = red
  hunk-header-decoration-style = blue box


[merge]
  conflictStyle = zdiff3


[diff]
  algorithm = histogram
  colorMoved = default
  renames = copies


[maintenance]
  auto = true


[status]
  short = true
  branch = true
  showStash = true

[log]
  date = iso

[help]
  autocorrect = prompt

[column]
  ui = auto

[color]
  ui = auto


[alias]
  amend      = commit --amend --no-edit
  amend-edit = commit --amend
  fixup      = commit --fixup

  pl  = push --force-with-lease
  pli = push --force-with-lease --force-if-includes

  lg   = log --oneline --graph --decorate --all
  l    = log --oneline --decorate
  last = log -1 HEAD --stat
  who  = shortlog -sn

