
settings set target.load-cwd-lldbinit true

settings set target.x86-disassembly-flavor intel

settings append target.process.thread.step-avoid-regexp ^std::
settings append target.process.thread.step-avoid-regexp ^[^ ]+ std::
settings append target.process.thread.step-avoid-regexp ^boost::
settings append target.process.thread.step-avoid-regexp ^[^ ]+ boost::
settings append target.process.thread.step-avoid-regexp ^Q[A-Z][A-Za-z0-9_]*::
settings append target.process.thread.step-avoid-regexp ^[^ ]+ Q[A-Z][A-Za-z0-9_]*::

